*, *:before, *:after{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.chuckSays{
    font-size: 2rem;
    
}
/* .image-holder {
    background-image: url(css/6c4c89bcba14f5419f8312a0efc76911dcd9a589.jpg)
} */